name: release
on:
  push:
    branches:
      - main
  pull_request:
permissions: {}
jobs:
  npm:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    environment: ${{ github.ref == 'refs/heads/main' && 'release' || '' }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - uses: raviqqe/pnpm-publish@v2
        with:
          release: ${{ github.ref == 'refs/heads/main' }}
  cdk:
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: examples/aws
    steps:
      - uses: aws-actions/configure-aws-credentials@v6
        with:
          role-to-assume: ${{ secrets.aws_role }}
          aws-region: us-west-2
        if: github.ref == 'refs/heads/main'
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: pnpm -r build
      - run: pnpm cdk synth
      - run: pnpm cdk deploy --require-approval never
        if: github.ref == 'refs/heads/main'
  release:
    needs:
      - npm
      - cdk
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: for result in ${{ join(needs.*.result, ' ') }}; do [ $result = success ]; done
