name: release
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@master
      - run: npm install
      - run: npm run build
      - uses: JS-DevTools/npm-publish@v2
        if: github.ref == 'refs/heads/main'
        with:
          access: public
          provenancce: true
          token: ${{ secrets.NPM_TOKEN }}
